<div class="container">
    <div class="input-group input-group-lg">
        <div class="input-group-addon">ShortID</div>
        <input id="inputPostMessage" class="form-control input-lg" ng-model="identifier" type="text" placeholder="{{ 'enter_shortid' | translate }}" check-Validid>
        <div class="input-group-btn">
            <div class="btn no-hover" ng-class="{'btn-danger': valid==false, 'btn-success': valid==true }">&nbsp;</div>
            <button class="btn btn-default btn-l dropdown-toggle" type="button" data-toggle="dropdown" ng-click="request(identifier)" translate="request"> Request</button>
        </div>
    </div>
</div>