<div class="form-horizontal form-bordered">
    <div class="form-group vendor-name">
        <label class="col-md-4 control-label" translate="coolding_name">Coolding name</label>
        <div class="col-md-8">
            <div class="control-div">{{coolding_name.description}}</div>
        </div>
    </div>
    <div class="form-group vendor-name" ng-if="devices.devices.wifi_ip.length>0">
        <label class="col-md-4 control-label" translate="wifi_ip">Wifi ip</label>
        <div class="col-md-8">
            <div class="control-div">{{devices.devices.wifi_ip}} <a ng-href="http://smile:{{identifier}}@{{devices.devices.wifi_ip}}/" target="_blank"><i class="fa fa-external-link">&nbsp;</i></a></div>
        </div>
    </div>
    <div class="form-group vendor-name" ng-if="devices.devices.lan_ip.length>0">
        <label class="col-md-4 control-label" translate="lan_ip">Lan ip</label>
        <div class="col-md-8">
            <div class="control-div">{{devices.devices.lan_ip}} <a ng-href="http://smile:{{identifier}}@{{devices.devices.lan_ip}}/" target="_blank"><i class="fa fa-external-link">&nbsp;</i></a></div>
        </div>
    </div>
</div>