<div class="block-title">
    <h2 translate="dragdropblock">Drag / Drop place</h2>
    <span class="glyphicon glyphicon glyphicon-align-justify draghandle"></span>
</div>

<div translate="dragdrop_sed">Drop here your SED:</div>

<div class="thumbnail big_dragdrop_location" data-drop="true" data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=record])'}" ng-model="oursed" jqyoui-droppable="{deepCopy: true}">
    <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="oursed" jqyoui-draggable ng-hide="!oursed.title" ng-dblclick="emptyList(2);"><span>{{oursed.id}}</span><br>{{oursed.title}}</div>
</div>

<div translate="dragdrop_cooldingcommandon">Drop here your Coolding record when switch is on (blue):</div>
<div class="thumbnail coolding_drag dragdrop_location" data-drop="true" data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=module])'}" ng-model="first_command" jqyoui-droppable="{deepCopy: true}">
    <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="first_command" jqyoui-draggable ng-hide="!first_command.title" ng-dblclick="emptyList(1);">{{first_command.title}}</div>
</div>

<div translate="dragdrop_cooldingcommandoff">Drop here your Coolding record when switch is off (white):</div>
<div class="thumbnail coolding_drag dragdrop_location" data-drop="true" data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=module])'}" ng-model="second_command" jqyoui-droppable="{deepCopy: true}">
    <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="second_command" jqyoui-draggable ng-hide="!second_command.title" ng-dblclick="emptyList(3);">{{second_command.title}}</div>
</div>

<!-- Sense Only -->
<div ng-if="oursed.type=='5'">
    <div translate="dragdrop_cooldingcommandecoon">Drop here your Coolding record when on (green):</div>

    <div class="thumbnail coolding_drag dragdrop_location" data-drop="true" data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=module])'}" ng-model="$parent.third_command" jqyoui-droppable="{deepCopy: true}">
        <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="$parent.third_command" jqyoui-draggable ng-hide="!$parent.third_command.title" ng-dblclick="emptyList(4);">{{third_command.title}}</div>
    </div>

    <div translate="dragdrop_cooldingcommandecooff">Drop here your Coolding record when off (green):</div>
    <div class="thumbnail coolding_drag dragdrop_location" data-drop="true" data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=module])'}" ng-model="$parent.fourth_command" jqyoui-droppable="{deepCopy: true}">
        <div class="btn btn-success" data-drag="false" data-jqyoui-options ng-model="$parent.fourth_command" jqyoui-draggable ng-hide="!$parent.fourth_command.title" ng-dblclick="emptyList(5);">{{fourth_command.title}}</div>
    </div>

    <!-- Advanced Settings -->
    <button class="btn btn-primary ng-binding ng-pristine advanced_settings" type="button" ng-click="advanced=!advanced">
        <span class="gear"><i class="fa fa-cogs"></i></span> <span translate="advanced_settings">Advanced Settings</span>
    </button>

    <div ng-show="advanced">
        <div translate="dragdrop_temperaturelimits" class="temp_limits">In case of temperature limits:</div>

        <div class="limit_box">
            <div>
                <div class="limit_text">
                    <span class="fa fa-level-up limit-padding"></span>
                    <span translate="upper_limit">Above setpoint:</span>
                </div>
                <div class="input-group" class="setpoint">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger" ng-click="$parent.upper_limit=$parent.upper_limit-1">-</button>
                    </span>
                    <input class="form-control center_text" type="text" min="1" max="100" value="0" ng-model="$parent.upper_limit" maxlength="3">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-click="$parent.upper_limit=$parent.upper_limit+1">+</button>
                    </span>
                </div>
                <div>
                    <div class="limit_text">
                        <span class="fa fa-level-down limit-padding"></span>
                        <span translate="lower_limit">Below setpoint:</span>
                    </div>
                    <div class="input-group" class="setpoint">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger" ng-click="$parent.lower_limit=$parent.lower_limit-1">-</button>
                        </span>
                        <input class="form-control center_text" type="text" min="1" max="100" value="0" ng-model="$parent.lower_limit" maxlength="3">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" ng-click="$parent.lower_limit=$parent.lower_limit+1">+</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Advanced Settings -->

    <h4 translate="schedule">Schedule</h4>
    <span class="fa fa-cog fa-spin loader_color ng-hide" ng-show="sense_loader"></span>

    <ul class="schedule_list">
        <li ng-repeat="allsched in schedules" class="no_list">
            <label for="{{$index}}"><input type="radio" id="{{$index}}" ng-model="$parent.$parent.chosen_schedule" ng-value="allsched.uuid" name="schedule">{{allsched.name}} - [ <a href="javascript:void(0)" ng-click="loadSchedule(allsched.uuid)" translate="view_schema">View Schema</a> ] [ <a href="javascript:void(0)" ng-click="modifyexception(allsched.uuid)" translate="modify_exceptions">Modify Exceptions</a> ]</label>
        </li>
    </ul>



    <div ng-show="calendar" class="bs-callout bs-callout-warning modification_box" id="callout-tables-context-accessibility">
        <h4 translate="attention_schema_modified">Attention, the schema is modified!</h4>
        <p>
            <span translate="following_modification">The following schema modification</span>
            <code>{{calendarname}}</code>
            <span translate="is_in_use_choose">is in use now. You can choose to</span>
            <span ng-show="calendar" ng-click="removeCalendar()" class="btn btn-danger remove_calendar" translate="remove">Remove</span>
            <span translate="the_schema">the schema</span>.
        </p>
    </div>

    <div ng-show="oursed.type=='5' && schedule[0].days != null" class="schedule_box">
        <div ng-click="schedule[0].days=null" class="white_color"><span class="fa fa-close"></span> Close scheme</div>
        <hr class="thin_line">

        <div ng-repeat="sched in schedule[0].days" class="clear_both">
            {{shed}}
            <div ng-repeat="monday in sched.monday track by $index">
                <div class="schedule" ng-class="{'sheduleBelow': monday<0, 'sheduleNull': monday==0, 'sheduleUp': monday>0}">&nbsp;</div>
            </div>
            <div ng-repeat="tuesday in sched.tuesday track by $index">
                <div class="schedule" ng-class="{'sheduleBelow': tuesday<0, 'sheduleNull': tuesday==0, 'sheduleUp': tuesday>0}">&nbsp;</div>
            </div>
            <div ng-repeat="wednesday in sched.wednesday track by $index">
                <div class="schedule" ng-class="{'sheduleBelow': wednesday<0, 'sheduleNull': wednesday==0, 'sheduleUp': wednesday>0}">&nbsp;</div>
            </div>
            <div ng-repeat="thursday in sched.thursday track by $index">
                <div class="schedule" ng-class="{'sheduleBelow': thursday<0, 'sheduleNull': thursday==0, 'sheduleUp': thursday>0}">&nbsp;</div>
            </div>
            <div ng-repeat="friday in sched.friday track by $index">
                <div class="schedule" ng-class="{'sheduleBelow': friday<0, 'sheduleNull': friday==0, 'sheduleUp': friday>0}">&nbsp;</div>
            </div>
            <div ng-repeat="saturday in sched.saturday track by $index">
                <div class="schedule" ng-class="{'sheduleBelow': saturday<0, 'sheduleNull': saturday==0, 'sheduleUp': saturday>0}">&nbsp;</div>
            </div>
            <div ng-repeat="sunday in sched.sunday track by $index">
                <div class="schedule" ng-class="{'sheduleBelow': sunday<0, 'sheduleNull': sunday==0, 'sheduleUp': sunday>0}">&nbsp;</div>
            </div>

        </div>
    </div>
</div>
<!-- End of Sense Only -->

<!-- Switch Only -->
<div ng-if="oursed.type=='3'" class="div_switch">
    <span translate="switch_seperate_piece">The Switch has two seperated pieces. You can define which piece will run what command.</span><br>
    <label for="both" translate="both"> Both </label>
    <input type="radio" name="triggerPlace" value="both" id="both" checked="checked" ng-model="trigger.place"><br>
    <label for="right" translate="right"> Right </label>
    <input type="radio" name="triggerPlace" value="right" id="right" ng-model="trigger.place"><br>
    <label for="left" translate="left"> Left </label>
    <input type="radio" name="triggerPlace" value="left" id="left" ng-model="trigger.place">
</div>
<!-- End of Switch Only -->

<div>
    <div class="btn btn-success ng-binding ng-pristine" ng-click="log()" translate="generate_eventscript">Generate eventscript</div>
    <div class="btn btn-warning ng-binding ng-pristine" ng-click="reset()" translate="reset">Reset</div>
</div>
