<div class="block_sed" style="padding-top:10px" ng-init="orderType='type'" ng-hide="button_status">
    <table class="table table-striped">
        <thead>
        <tr>
            <th translate="history_icon">Icon</th>
            <th translate="running">Running</th>
            <th translate="sed_id">SED ID</th>
            <th translate="sed_name">SED Name</th>
            <th translate="edit">Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="hist in history">
            <td>
                <div ng-if="hist.seddeviceid == 3 || hist.seddeviceid == 5 || hist.seddeviceid == 6">
                    <img ng-src="./img/image_{{hist.seddeviceid}}.png" width="40">
                </div>
            </td>
            <td>
                <div ng-if="hist.running == true">
                    <span translate="yes">Yes</span>
                </div>
                <div ng-if="hist.running != true">
                    <span translate="no">No</span>
                </div>
            </td>
            <td>{{hist.sedid}}</td>
            <td>{{hist.sedname}}</td>
            <td>
                <span ng-model="collapsed" ng-click="load_history(hist.sedid)" style="cursor:pointer; margin-bottom: 10px;margin-right:5px;" class="btn btn-success"><span translate="more_info">More Info</span></span>
                <span ng-click="turnOff(hist.sedid, hist.extravalue)" style="cursor:pointer; margin-bottom: 10px;margin-right:5px;" class="btn btn-info" translate="activate">(In)activate</span>
                <span ng-click="remove(hist.sedid, hist.extravalue)" style="cursor:pointer;margin-bottom: 10px;margin-right:5px;" class="btn btn-danger" translate="remove">Remove</span>
           </td>
        </tr>
        </tbody>
    </table>
</div>


