<div class="block_sed" ng-init="orderType='type'">
    <table class="table">
        <thead>
        <tr>
            <th translate="address"> Address </th>
            <th class="table_order"><span translate="name">Name</span></th>
            <th translate="room">Room</th>
            <th class="table_order" translate="last_seen_date">Last Seen Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="status in devices.statuses | orderBy:preOrder:reverse">
            <td> <div class="btn btn-primary btn-draggable pw-drag" data-drag="true" data-jqyoui-options="{revert: 'invalid', appendTo: 'body', containment: 'window',scroll: false, helper: 'clone'}" ng-model="module" jqyoui-draggable="{animate:true}" ng-init="module.title=status.name; module.id=status.nameid; module.deviceid=status.id; module.type=status.type" ng-dblclick="placeSed(status.nameid, status.type, status.name, status.id);">{{status.address | getaddress}}</div></td>
            <td>{{status.nameid}}</td>
            <td>{{status.name}}</td>
            <td>{{status.lastseendate}}</td>
        </tr>
        </tbody>
    </table>
</div>
