body {
    background: #ddd;
    font-family: Ubuntu, sans-serif;
    background: url(../img/background.png);
}
.navbar-default {
    background-color: #fff;
}
.navbar-brand {
    padding: 15px 15px 15px 25px;
}
.navbar-brand.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    width: 300px;
    margin: auto;
    font-weight: 300;
    text-transform: capitalize;
}
.navbar-brand .icon-bar {
    background-color: #888;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    margin-top: 4px;
}
.roles-legend, .navbar-default {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: none;
}
.form-horizontal .control-div {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}
.block-title h1, .block-title h2, .block-title h3, .block-title h4, .block-title h5, .block-title h6 {
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 10px 15px 9px;
    font-weight: 600;
    text-transform: uppercase;
}
.block, .block.full, .content-header, .content-header-media .header-section, .modal-body {
    padding-left: 20px;
    padding-right: 20px;
}
.block, .widget {
    margin-bottom: 20px;
}
.block {
    margin: 0 0 10px;
    padding: 20px 15px 0;
    background-color: #FFF;
    -webkit-box-shadow: 0 2px 0 rgba(218, 224, 232, 0.5);
    box-shadow: 0 2px 0 rgba(218, 224, 232, 0.5);
}
.block-title {
    margin: -20px -15px 0;
    border-bottom: 2px solid #ddd;
    background: #fafafa;
}
.draghandle {
    cursor: move;
    float:right;
    margin: 10px;
}
.dropblock {

}
.authentication-widget .list-block, .beacon-widget .list-block {
    height: 464px;
    /*display: none;*/
}
.list-block.height-auto {
    height: auto;
}
.list-block {
    /*margin: 0 -20px;*/
    height: 500px;
    /*overflow: hidden;*/
    position: relative;
}
.widget-content:focus, .widget-content:hover, .widget:focus, .widget:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
.roles .role.external_portal, .list-item.smile_thermo .vendor-model, .widget.locations {
    background-color: #46A1DD;
}
.text-center {
    text-align: center;
}
.widget-content:focus, .widget-content:hover, .widget:focus, .widget:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}
.roles .role.external_portal, .list-item.smile_thermo .vendor-model, .widget.locations {
    background-color: #46A1DD;
}
.text-center {
    text-align: center;
}
.widget {
    color: #FFF;
    margin-bottom: 15px;
    position: relative;
}
.widget, .widget-content {
    display: block;
    -webkit-transition: all .1s ease-out;
    transition: all .1s ease-out;
    cursor: pointer;
}
.widget-icon {
    width: 74px;
    height: 74px;
    line-height: 70px;
    font-size: 34px;
    text-align: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
}
.push {
    margin-bottom: 15px!important;
}
.pull-right {
    right: 15px;
    position: relative;
    top: 10px;
}
.loader-color {
    color: #46A1DD;
}
.pw-error-background {
    background-color: #C26565;
}
.pw-error {
    position: relative;
    top: 2px;
    color: rgb(213, 76, 76);
}
.table_order {
    cursor: pointer;
}
.block {
    display: block;
}
.pw-logo {
    background: url('../img/logo.png');
    margin: 0 auto;
    display: block;
    width: 48px;
    height: 48px;
}
.loading-logo {
    padding: 20px;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.no-hover {
    margin-top: 0 !important;
    border-width: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.btn-primary {
    background-color: #8FB73E;
    color: #FFF;
    border-color: #7EA538;
}
.btn {
    border-radius: 3px;
    border-width: 0;
    border-bottom-width: 2px;
    box-shadow: 0 4px 1px -3px #BBBABA;
    margin-top: -2px;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:disabled, .btn-primary:hover {
    background-color: #8FB73E!important;
    color: #FFF!important;
}
.btn:active, .btn:focus, .btn:disabled, .btn:hover {
    box-shadow: 0 0px 1px 0 #BBBABA;
    margin-top: 0;
    border-width: 0;
}
.deviceinfo {
    background-color: rgb(165, 195, 147);
}
.currentinfo {
    background-color: #939FC3;
}
.boxes_margin {
    margin-top:10px
}
.status-box {
    display: block;
    margin-top:10px
}
.callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #F9F9F9
}
.callout-danger {
    border-left-color: #d9534f;
}
.thumbnail div {
    display: block;
}
.pw-drag {
    z-index: 999;
    height: 20px;
    min-width: 37px;
    line-height: 8px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0;
}
.sed_button {
    padding: 2px 10px;
    background: rgb(165, 195, 147);
    float: left;
    color: white;
    border-radius: 2px;
    border: 1px solid #8FB3E;
    margin-right: 10px;
    cursor: pointer;
}
.lang-select {
    cursor: pointer;
}
.block_sed .active {
    background: rgb(0, 92, 181) !important;
}
.tooltip {
    z-index: 2000;
}
.tooltip.in{
    opacity: 1;
}
.tooltip-inner {
    position: relative;
    left: 50px;
    text-align: left;
}
.padding-ten {
    padding: 10px;
}
.height-fixed {
    overflow: hidden;
    overflow-y: scroll;
}
.latest_ids:hover {
    display: block !important;
}
.shortid:hover + .latest_ids {
    display: block !important;
}
.latest_ids {
    display: none;
    width: 300px;
    position: absolute;
    top: 42px;
    z-index: 100;
    left: 0px;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 0 0 4px 4px;
    color: rgb(85, 85, 85);
    border-top: none;
    font-size: 12px;
    box-shadow: 0px 4px 4px 1px rgba(66, 139, 202, 0.3);
}
.version {
    color: #aaa;
    float: left;
    font-size: 8px;
    margin: 34px 0px 0px 10px;
}
.clonemenu {
    position: absolute;
    width: 200px;
    background-color: white;
    right: 40px;
    padding: 10px;
    border: 1px solid #DDD;
}
.clonemenu tr:nth-child(even) {background: #F5F5F5}
.clonemenu tr:nth-child(odd) {background: #FFF}
.clonemenu table { border: 1px solid #939FC3; }
.clonemenu td { padding: 5px 10px; }
.cloneline { margin: 8px 0; }
.closeclonemenu { cursor: pointer; float: right; }


.sweet-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 1000; }

.sweet-alert {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 2000; }
@media all and (max-width: 540px) {
    .sweet-alert {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        left: 15px;
        right: 15px; } }
.sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative; }
.sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    margin: 0;
    line-height: normal; }
.sweet-alert button {
    background-color: #AEDEF4;
    color: white;
    border: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer; }
.sweet-alert button:focus {
    outline: none;
    box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05); }
.sweet-alert button:hover {
    background-color: #a1d9f2; }
.sweet-alert button:active {
    background-color: #81ccee; }
.sweet-alert button.cancel {
    background-color: #D0D0D0; }
.sweet-alert button.cancel:hover {
    background-color: #c8c8c8; }
.sweet-alert button.cancel:active {
    background-color: #b6b6b6; }
.sweet-alert button.cancel:focus {
    box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.0470588) 0px 0px 0px 1px inset !important; }
.sweet-alert[data-has-cancel-button=false] button {
    box-shadow: none !important; }
.sweet-alert .icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
    box-sizing: content-box; }
.sweet-alert .icon.error {
    border-color: #F27474; }
.sweet-alert .icon.error .x-mark {
    position: relative;
    display: block; }
.sweet-alert .icon.error .line {
    position: absolute;
    height: 5px;
    width: 47px;
    background-color: #F27474;
    display: block;
    top: 37px;
    border-radius: 2px; }
.sweet-alert .icon.error .line.left {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 17px; }
.sweet-alert .icon.error .line.right {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 16px; }
.sweet-alert .icon.warning {
    border-color: #F8BB86; }
.sweet-alert .icon.warning .body {
    position: absolute;
    width: 5px;
    height: 47px;
    left: 50%;
    top: 10px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #F8BB86; }
.sweet-alert .icon.warning .dot {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    left: 50%;
    bottom: 10px;
    background-color: #F8BB86; }
.sweet-alert .icon.info {
    border-color: #C9DAE1; }
.sweet-alert .icon.info::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 29px;
    left: 50%;
    bottom: 17px;
    border-radius: 2px;
    margin-left: -2px;
    background-color: #C9DAE1; }
.sweet-alert .icon.info::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-left: -3px;
    top: 19px;
    background-color: #C9DAE1; }
.sweet-alert .icon.success {
    border-color: #A5DC86; }
.sweet-alert .icon.success::before, .sweet-alert .icon.success::after {
    content: '';
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: white;
    transform: rotate(45deg); }
.sweet-alert .icon.success::before {
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px; }
.sweet-alert .icon.success::after {
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px; }
.sweet-alert .icon.success .placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(165, 220, 134, 0.2);
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2; }
.sweet-alert .icon.success .fix {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.sweet-alert .icon.success .line {
    height: 5px;
    background-color: #A5DC86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2; }
.sweet-alert .icon.success .line.tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
.sweet-alert .icon.success .line.long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.sweet-alert .icon.custom {
    background-size: contain;
    border-radius: 0;
    border: none;
    background-position: center center;
    background-repeat: no-repeat; }

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7); }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05); }
    80% {
        transform: scale(0.95);
        -webkit-tranform: scale(0.95); }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1); } }
@-moz-keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7); }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05); }
    80% {
        transform: scale(0.95);
        -webkit-tranform: scale(0.95); }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1); } }
@keyframes showSweetAlert {
    0% {
        transform: scale(0.7);
        -webkit-transform: scale(0.7); }
    45% {
        transform: scale(1.05);
        -webkit-transform: scale(1.05); }
    80% {
        transform: scale(0.95);
        -webkit-tranform: scale(0.95); }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1); } }
@-webkit-keyframes hideSweetAlert {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1); }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5); } }
@-moz-keyframes hideSweetAlert {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1); }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5); } }
@keyframes hideSweetAlert {
    0% {
        transform: scale(1);
        -webkit-transform: scale(1); }
    100% {
        transform: scale(0.5);
        -webkit-transform: scale(0.5); } }
.showSweetAlert {
    -webkit-animation: showSweetAlert 0.3s;
    -moz-animation: showSweetAlert 0.3s;
    animation: showSweetAlert 0.3s; }

.hideSweetAlert {
    -webkit-animation: hideSweetAlert 0.2s;
    -moz-animation: hideSweetAlert 0.2s;
    animation: hideSweetAlert 0.2s; }

@-webkit-keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px; }
    54% {
        width: 0;
        left: 1px;
        top: 19px; }
    70% {
        width: 50px;
        left: -8px;
        top: 37px; }
    84% {
        width: 17px;
        left: 21px;
        top: 48px; }
    100% {
        width: 25px;
        left: 14px;
        top: 45px; } }
@-moz-keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px; }
    54% {
        width: 0;
        left: 1px;
        top: 19px; }
    70% {
        width: 50px;
        left: -8px;
        top: 37px; }
    84% {
        width: 17px;
        left: 21px;
        top: 48px; }
    100% {
        width: 25px;
        left: 14px;
        top: 45px; } }
@keyframes animateSuccessTip {
    0% {
        width: 0;
        left: 1px;
        top: 19px; }
    54% {
        width: 0;
        left: 1px;
        top: 19px; }
    70% {
        width: 50px;
        left: -8px;
        top: 37px; }
    84% {
        width: 17px;
        left: 21px;
        top: 48px; }
    100% {
        width: 25px;
        left: 14px;
        top: 45px; } }
@-webkit-keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px; }
    65% {
        width: 0;
        right: 46px;
        top: 54px; }
    84% {
        width: 55px;
        right: 0px;
        top: 35px; }
    100% {
        width: 47px;
        right: 8px;
        top: 38px; } }
@-moz-keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px; }
    65% {
        width: 0;
        right: 46px;
        top: 54px; }
    84% {
        width: 55px;
        right: 0px;
        top: 35px; }
    100% {
        width: 47px;
        right: 8px;
        top: 38px; } }
@keyframes animateSuccessLong {
    0% {
        width: 0;
        right: 46px;
        top: 54px; }
    65% {
        width: 0;
        right: 46px;
        top: 54px; }
    84% {
        width: 55px;
        right: 0px;
        top: 35px; }
    100% {
        width: 47px;
        right: 8px;
        top: 38px; } }
@-webkit-keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); } }
@-moz-keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); } }
@keyframes rotatePlaceholder {
    0% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    5% {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg); }
    12% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); }
    100% {
        transform: rotate(-405deg);
        -webkit-transform: rotate(-405deg); } }
.animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    -moz-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s; }

.animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    -moz-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s; }

.icon.success.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    -moz-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in; }

@-webkit-keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        -webkit-transform: rotateX(100deg);
        opacity: 0; }
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        opacity: 1; } }
@-moz-keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        -webkit-transform: rotateX(100deg);
        opacity: 0; }
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        opacity: 1; } }
@keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        -webkit-transform: rotateX(100deg);
        opacity: 0; }
    100% {
        transform: rotateX(0deg);
        -webkit-transform: rotateX(0deg);
        opacity: 1; } }
.animateErrorIcon {
    -webkit-animation: animateErrorIcon 0.5s;
    -moz-animation: animateErrorIcon 0.5s;
    animation: animateErrorIcon 0.5s; }

@-webkit-keyframes animateXMark {
    0% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    50% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    80% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        margin-top: -6px; }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        margin-top: 0;
        opacity: 1; } }
@-moz-keyframes animateXMark {
    0% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    50% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    80% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        margin-top: -6px; }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        margin-top: 0;
        opacity: 1; } }
@keyframes animateXMark {
    0% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    50% {
        transform: scale(0.4);
        -webkit-transform: scale(0.4);
        margin-top: 26px;
        opacity: 0; }
    80% {
        transform: scale(1.15);
        -webkit-transform: scale(1.15);
        margin-top: -6px; }
    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        margin-top: 0;
        opacity: 1; } }
.animateXMark {
    -webkit-animation: animateXMark 0.5s;
    -moz-animation: animateXMark 0.5s;
    animation: animateXMark 0.5s; }

/*@include keyframes(simpleRotate) {
	0%		{ transform: rotateY(0deg);    }
  100% 	{ transform: rotateY(-360deg); }
}
.simpleRotate {
	@include animation('simpleRotate 0.75s');
}*/
@-webkit-keyframes pulseWarning {
    0% {
        border-color: #F8D486; }
    100% {
        border-color: #F8BB86; } }
@-moz-keyframes pulseWarning {
    0% {
        border-color: #F8D486; }
    100% {
        border-color: #F8BB86; } }
@keyframes pulseWarning {
    0% {
        border-color: #F8D486; }
    100% {
        border-color: #F8BB86; } }
.pulseWarning {
    -webkit-animation: pulseWarning 0.75s infinite alternate;
    -moz-animation: pulseWarning 0.75s infinite alternate;
    animation: pulseWarning 0.75s infinite alternate; }

@-webkit-keyframes pulseWarningIns {
    0% {
        background-color: #F8D486; }
    100% {
        background-color: #F8BB86; } }
@-moz-keyframes pulseWarningIns {
    0% {
        background-color: #F8D486; }
    100% {
        background-color: #F8BB86; } }
@keyframes pulseWarningIns {
    0% {
        background-color: #F8D486; }
    100% {
        background-color: #F8BB86; } }
.pulseWarningIns {
    -webkit-animation: pulseWarningIns 0.75s infinite alternate;
    -moz-animation: pulseWarningIns 0.75s infinite alternate;
    animation: pulseWarningIns 0.75s infinite alternate; }

@font-face {
    font-family: plugwise-smileir;
    src: url(../fonts/plugwise-smileir.woff) format('woff');
    font-weight: 400;
    font-style: normal
}
[class*=" icon-"]:before,
[class^=icon-]:before {
    font-family: plugwise-smileir;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em
}
.icon-1:before {
    content: '\e817'
}
.icon-up:before {
    content: '\e816'
}
.icon-3:before {
    content: '\e801'
}
.icon-4:before {
    content: '\e802'
}
.icon-airco1:before {
    content: '\e803'
}
.icon-airco2:before {
    content: '\e804'
}
.icon-airco3:before {
    content: '\e805'
}
.icon-blow:before {
    content: '\e806'
}
.icon-cooling:before {
    content: '\e807'
}
.icon-down:before {
    content: '\e808'
}
.icon-dry:before {
    content: '\e809'
}
.icon-eco:before {
    content: '\e80a'
}
.icon-2:before {
    content: '\e800'
}
.icon-heating2:before {
    content: '\e80c'
}
.icon-night:before {
    content: '\e80d'
}
.icon-off:before {
    content: '\e80e'
}
.icon-on:before {
    content: '\e80f'
}
.icon-onoff:before {
    content: '\e810'
}
.icon-play:before {
    content: '\e811'
}
.icon-stop:before {
    content: '\e812'
}
.icon-temperature:before {
    content: '\e813'
}
.icon-time:before {
    content: '\e814'
}
.icon-turbo:before {
    content: '\e815'
}
.icon-heating1:before {
    content: '\e80b'
}
.icon-15:before {
    font-family: Ubuntu,sans-serif !important;
    content: '15';
    margin-left: .1em;
}

.icon-16:before {
    font-family: Ubuntu,sans-serif !important;
    content: '16';
    margin-left: .1em;
}

.icon-17:before {
    font-family: Ubuntu,sans-serif !important;
    content: '17';
    margin-left: .1em;
}

.icon-18:before {
    font-family: Ubuntu,sans-serif !important;
    content: '18';
    margin-left: .1em;
}

.icon-19:before {
    font-family: Ubuntu,sans-serif !important;
    content: '19';
    margin-left: .1em;
}

.icon-20:before {
    font-family: Ubuntu,sans-serif !important;
    content: '20';
    margin-left: .1em;
}

.icon-21:before {
    font-family: Ubuntu,sans-serif !important;
    content: '21';
    margin-left: .1em;
}

.icon-22:before {
    font-family: Ubuntu,sans-serif !important;
    content: '22';
    margin-left: .1em;
}

.icon-23:before {
    font-family: Ubuntu,sans-serif !important;
    content: '23';
    margin-left: .1em;
}

.icon-24:before {
    font-family: Ubuntu,sans-serif !important;
    content: '24';
    margin-left: .1em;
}

.icon-25:before {
    font-family: Ubuntu,sans-serif !important;
    content: '25';
    margin-left: .1em;
}

.icon-26:before {
    font-family: Ubuntu,sans-serif !important;
    content: '26';
    margin-left: .1em;
}

.icon-27:before {
    font-family: Ubuntu,sans-serif !important;
    content: '27';
    margin-left: .1em;
}

.icon-28:before {
    font-family: Ubuntu,sans-serif !important;
    content: '28';
    margin-left: .1em;
}
/*FONTS*/
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(../fonts/ubuntu.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url(../fonts/ubuntu-medium.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../fonts/ubuntu-bold.woff) format('woff');
}
